

<br />
<br />
<br />
<br />
<div>
    <section id="introduction" class="px-lg-2">
        <div><h4 class="" id="hello">Hello, my name is</h4></div>
        <div><h1 class="display-1" id="name">Michael Zaluckyj.</h1></div>
        <h2 id="mainh1">Software Developer</h2>
        <ul class="list-inline" id="so">
            <li class="list-inline-item">C#</li>
            <li class="list-inline-item">ASP.NET CORE</li>
            <li class="list-inline-item">MySql</li>
        </ul>
    </section>
</div>
<br />
<br />
<br />
<div id="about">
    <h1 class="display-3" id="mainh1">About me</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img style="float:left; width:210px; padding-right:10px;" src="~/Images/Me.jpg" class="img-fluid" alt="Me" />
                <p>
                    Growing up on a farm, I have always had a strong passion for agriculture and
                    how technology works to optimize the agricultural industry. In crop insurance I
                    got direct experience using technology to become timelier and more accurate
                    in processing claims for farmers. Now, being in a role where I get to educate
                    and discuss technology with sales agents, I realize I want a career more
                    focused on software development to better the industry. This led me to pursue
                    the True Coders Software Engineering program. As my capstone project I
                    utilized .NET, MySQL, and C# to create a database that allows people to
                    compare different tractors and their features so that they are better informed
                    when selecting the best fit for them.
                </p>
            </div>
        </div>
    </div>
    <br />
    <h2 class="display-6" id="mainh1">Education and Certificates</h2>
    <h5 class="bp-5"><a id="so">TrueCoders: </a>Software Engineering  <i>04/2022</i></h5>
    <h5 class="bp-5"><a id="so">Michigan State University: </a>Agriculture Technology  <i>12/2014</i></h5>
    <br />
    <h2 class="display-6" id="mainh1">Skills and Languages</h2>
    <ul class="list-inline" id="so">
        <li class="list-inline-item">C#</li>
        <li class="list-inline-item">ASP.NET CORE</li>
        <li class="list-inline-item">MVC</li>
        <li class="list-inline-item">HTML</li>
        <li class="list-inline-item">CSS</li>
        <li class="list-inline-item">MySql</li>
        <li class="list-inline-item">Azure</li>
        <li class="list-inline-item">Microsoft Office 365</li>
        <li class="list-inline-item">Relationship Management</li>
        <li class="list-inline-item">Conflict Resolutuion</li>
        <li class="list-inline-item">Time Management</li>
    </ul>
</div>
<br />
<div id="projects">
    <h1 class="display-3" id="mainh1">My Projects</h1>
    <br />
    <div class="card mb-3" style="max-width:540px; background-color: lightgray">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/Images/TractorCompare.jpg" class="img-fluid rounded-start" alt="...">
                <a class="btn disabled hidden"></a>
                <a href="https://tractorcompare.azurewebsites.net/" class="btn" style="color: white; background-color: #1D3251;">TractorCompare.com</a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" style="color: #1D3251;">TractorCompare</h5>
                    <p class="card-text" style="color:black;">My trueCoders final project showcasing my knowledge of .net, C#, and MySql hosted on Azure.</p>
                    <p class="card-text"><small style="color: #1D3251;">C#  .NET MVC  MySql</small></p>

                </div>
            </div>
        </div>
    </div>
    <p>More projects coming soon.</p>
    <p>
        To check out some of the work lessons I did for TrueCoders please visit my Github account
        <a href="https://github.com/mzaluckyj" class="nav-link py-3" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
            <i class="bi bi-github" style="font-size: 50px; color: #CDEDDA;">Github</i>
        </a>
    </p>

</div>
<br />
<div id="experience">
    <h1 class="display-3" id="mainh1">Previous Experience</h1>
    <br />
    <div class="accordion" id="experience2">
        <div class="accordion-item">
            <h4 class="accordion-header" id="zhead">
                <button id="bstyle" class="accordion-button btn-lg p-4" type="button" data-bs-toggle="collapse" data-bs-target="#z" aria-expanded="true" aria-controls="z">Customer Relationship/Success Manager</button>
            </h4>
            <div id="z" class="accordion-collapse show" aria-labelledby="zhead">
                <div class="accordion-body" id="drop">
                    <a id="so2">Zurich North America -MI, IL, IN, OH, KY, TN <i>~03/2022-current</i></a>
                    <p>
                        I act as a customer advocate to identify opportunities for improved communication,
                        collaboration and coordination between the sales agents and the claims team.
                    </p>
                    <ul>
                        <li>
                            Serve as the main liaison for the Precision Ag technology team responsible
                            for creating awareness of feature upgrades, software updates and customerfacing issues.
                        </li>
                        <li>
                            Aid in providing timely updates, education, and finding solutions to complex
                            claims problems.
                        </li>
                        <li>
                            Assist in organizing and overseeing assignments to drive operational
                            excellence.
                        </li>
                        <li>
                            Maintain professional demeanor by staying calm when addressing unhappy
                            or angry customers.
                        </li>
                        <li>
                            Lead process improvement and problem-solving efforts to create standard
                            procedures and escalation method for customer support team.
                        </li>
                        <li>
                            Analyze claims and sales experience survey data to identify trends and
                            develop strategies to improve success metrics.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h4 class="accordion-header" id="shead">
            <button id="bstyle" class="accordion-button btn-lg p-4" type="button" data-bs-toggle="collapse" data-bs-target="#s" aria-expanded="true" aria-controls="z">District Sales Manager</button>
        </h4>
        <div id="s" class="accordion-collapse collapse" aria-labelledby="shead">
            <div class="accordion-body" id="drop">
                <a id="so2">Stine Seed -SouthWest MI <i>~01/2021-04/2022</i></a>
                <p>
                    In this role, I helped farmers maximize success by offering personalized seed solutions and fostered long term relationships by
                    offering continued support throughout the growing season.
                </p>
                <ul>
                    <li>
                        Geocoded prospective customer information to create efficient outreach strategies.
                    </li>
                    <li>
                        Managed delivery logistics to maximize cost savings.
                    </li>
                    <li>
                        Identified new business opportunities through cold calling, networking, and marketing.
                    </li>
                    <li>
                        Collaborated with cross-functional teams to identify and address customer needs.
                    </li>
                    <li>
                        Selected correct products based on field data, product specifications and applicable regulations.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="accordion-item">
    <h4 class="accordion-header" id="nhead">
        <button id="bstyle" class="accordion-button btn-lg p-4" type="button" data-bs-toggle="collapse" data-bs-target="#n" aria-expanded="true" aria-controls="n">Crop Loss Adjusting Specialist</button>
    </h4>
    <div id="n" class="accordion-collapse collapse" aria-labelledby="nhead">
        <div class="accordion-body" id="drop">
            <a id="so2">NAU Country -MI <i>~05/2015-01/2021</i></a>
            <p>
                As a claims adjuster, I specialized in helping farmers recover from disasters by assessing damages to their crops. I used advanced
                tools such as aerial imagery and data analytics to provide accurate and timely assessments.
            </p>
            <ul>
                <li>
                    Conducted thorough investigations of crop damage and loss claims, analyzing policy provisions, coverage limitations, and
                    applicable laws and regulations.
                </li>
                <li>
                    Documented and verified the accuracy and authenticity of claim information, including crop yield data, production
                    expenses, and market prices.
                </li>
                <li>
                    Communicated effectively with policyholders, agents, and third-party experts to gather information, explain claim
                    decisions, and resolve disputes.
                </li>
                <li>
                    Coordinated and supervised teams for pre-acceptance field inspections and other evaluations.
                </li>
                <li>
                    Prepared detailed claim reports and documentation, including loss estimates, investigation findings, settlement
                    agreements, and regulatory compliance materials.
                </li>
                <li>
                    Monitored claims trends and recommended process improvements to ensure consistent and efficient claim handling.
                </li>
            </ul>
        </div>
    </div>
</div>
<br />
<div id="contact"></div>
<h2 class="display-6" id="mainh1">Let's Connect!</h2>
<ul class="list-inline" id="so">
    <li class="list-inline-item">
        <a href="mailto:m.zaluckyj@gmail.com" class="nav-link py-3" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
            <i class="bi bi-envelope-at" style="font-size: 16px; color: #CDEDDA;">m.zaluckyj@gmail.com</i>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="tel:2699302524" class="nav-link py-3" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
            <i class="bi bi-telephone" style="font-size: 16px; color: #CDEDDA;">(269)930-2524</i>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="https://www.linkedin.com/in/michael-zaluckyj/" class="nav-link py-3" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
            <i class="bi bi-linkedin" style="font-size: 16px; color: #CDEDDA;">LinkedIn</i>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="https://github.com/mzaluckyj" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
            <i class="bi bi-github" style="font-size: 16px; color: #CDEDDA;">Github</i>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="https://drive.google.com/file/d/1hEaiz1NKRqFD9lQJ5-DhIU1dzxKItFa_/view?usp=share_link" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
            <i class="bi bi-file-text" style="font-size: 16px; color: #CDEDDA;">Resume</i>
        </a>
    </li>
</ul>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - mzaluckyj - <a asp-area="" asp-controller="Home" asp-action="Privacy">Contact</a>
    </div>
</footer>
