@{
    ViewData["Title"] = "Contact Information";
}
<h1>@ViewData["Title"]</h1>



<div>
    <ul class="nav nav-pills nav-flush flex-column row-cols-md-5 text-center">
        <li class="nav-item">
            <a href="mailto:m.zaluckyj@gmail.com" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                <i class="bi bi-envelope-at" style="font-size: 16px; color: #CDEDDA;">m.zaluckyj@gmail.com</i>
            </a>
        </li>
        <li>
            <a href="tel:2699302524" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                <i class="bi bi-telephone" style="font-size: 16px; color: #CDEDDA;">(269)930-2524</i>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/michael-zaluckyj/" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                <i class="bi bi-linkedin" style="font-size: 16px; color: #CDEDDA;">LinkedIn</i>
            </a>
        </li>
        <li>
            <a href="https://github.com/mzaluckyj" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
                <i class="bi bi-github" style="font-size: 16px; color: #CDEDDA;">Github</i>
            </a>
        </li>
        <li>
            <a href="https://drive.google.com/file/d/1hEaiz1NKRqFD9lQJ5-DhIU1dzxKItFa_/view?usp=share_link" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                <i class="bi bi-file-text" style="font-size: 16px; color: #CDEDDA;">Resume</i>
            </a>
        </li>
    </ul>
</div>